*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
[v-cloak]{
    display:none;
}
header{
    min-height: 10vh;
    background-color:#112e34;
}

main{
    min-height: 70vh;
    background-color: #caffff;
}


.imgcarrousel{
    height: 60vh;
    object-fit: cover;
    object-position:center;
    
}
footer{
    min-height: 15vh;
    background-color: #112e34;
}

.imgfooter{
    height: 8vh;
}
.cards{
    min-width: 35%;
}
.imgmain{
    height:15vh;
    object-fit:cover;
    object-position:center;
    
}