
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.imgCreateCards{
    min-width: 30rem;
    background-image: url("../images/Tarjeta_de_credito_administracion_manejo_TDC.avif");
    object-position: center;

    
}
.divButton{
    width: 10vw;
}
.divH2{
    width: 90vw;
}
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            max-width: 400px;
           
        }

        label {
            display: block;
            font-weight: bold;
            margin-top: 10px;
        }

        input[type="radio"] {
            display: none;
        }

        input[type="radio"] + label {
            background-color: #f0f0f0;
            color: #333;
            padding: 10px 20px;
            border: 2px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 10px;
            transition: background-color 0.3s, color 0.3s;
        }

        input[type="radio"]:checked + label {
            background-color: grey;
            color: #fff;
        }

        button {
            background-color: grey;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #222324;
        }
    
