*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
[v-cloak] {
  display:none;
}
header{
  min-height: 15vh;   
 
}
.divheader{
  background-color: black;
  color:rgb(172, 162, 164);
  
}
a:hover {
  color: green !important;
}
h2{
  width:25rem;
  background-color: #05a08185;
  
}

.imgheader{
  width: 15%;
  object-fit:contain;
  object-position: center;
}

main{
  min-height: 65vh;
  background-color:rgba(245, 245, 245, 0.438);
}
.imgCreateCards{
  background-image: url("../images/pexels-mikhail-nilov-7534801.jpg");
  background-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  
}
footer{
  min-height: 20vh;
  background: linear-gradient(70deg, black, rgb(114, 112, 113));
  -webkit-text-fill-color: aliceblue;
}


.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background: linear-gradient(70deg, rgb(41, 40, 40), rgb(167, 163, 165));
    color: #fff;
    border: 1px solid #333;
  }
  
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: whitesmoke;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: #05A081;
  }
  
  .message, 
  .signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .signin a {
    color: #05A081;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
  }
  
  
  .form label .input:focus + span,
  .form label .input:valid + span {
    color: #05A081;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .input {
    font-size: medium;
  }
  
  .button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #05A081;
  }
  
  .button:hover {
    background-color: #10a184;
  }
  

  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }