*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
[v-cloak] {
    display:none;
}
header{
    min-height: 20vh;  
   
}
.divNav{
    min-height: 20vh;
}
.divheader{
    background-color: black;
    color:rgb(172, 162, 164);
    
}
.navbar{
    padding: 0;
}
a:hover {
    color: green !important;
  }

.imgheader{
   height: 150px;
}

main{
    min-height: 65vh;
    background-color:whitesmoke;
}


footer{
    min-height: 15vh;
    background: linear-gradient(70deg, black, rgb(114, 112, 113));
    -webkit-text-fill-color: aliceblue;
}

.imgfooter{
    height: 7vh;
} 


.imgCarrousel{
    height: 70vh;
    object-fit: cover;
    object-position:center;
    
}

.sizeCarrousel{
    height: 70vh;
}


.phone {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  position: absolute;
  cursor: pointer;
}

.cta {
  height: 80px;
  width: 320px;
  color: white;
  z-index: 1;
  transition: 1.2s;
  background: linear-gradient(to right bottom, #4776E6, #8E54E9);
}

.number {
  height: 80px;
  width: 318px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.unsplash.com/photo-1529044728228-9917df974897?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  color: white;
  box-shadow: 3px 3px 30px #aaa;
}

.cta:hover {
  transform: translateX(-80%);
  transition: 1.2s;
}