*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
[v-cloak] {
    display:none;
}
header{
    min-height: 15vh;   
   
}

.imgheader{
    width: 15%;
    object-fit:contain;
    object-position: center;
}

main{
    min-height: 65vh;
    background-color:whitesmoke;
}


.imgcarrousel{
    height: 40vh;
    object-fit: cover;
    object-position:center;
    
}
footer{
    min-height: 20vh;
    background: linear-gradient(70deg, black, rgb(114, 112, 113));
    -webkit-text-fill-color: aliceblue;
}