<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Your accounts</title>
    <link rel="icon" href="../images/4.png" type="image/x-icon" >
    <link rel="stylesheet" type="text/css" href="../css/style.css" >
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous">
    
  </head>
  <body>
    <div class="layout" id="app" v-cloak>
      <header class="d-flex justify-content-around align-items-center bg-body-tertiary">
        <img  src="../images/3.png" alt="LogoBank" class="d-inline-block  imgheader">
        <nav class="navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-center text-align-center" >
          <button class="navbar-toggler" type="button"  data-bs-toggle="collapse"  data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"  aria-expanded="false"  aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav text-center">
              <a class="nav-link" href="../index.html">HOME</a>
              <a class="nav-link active" aria-current="page" href="#">ACCOUNTS</a>
              <a class="nav-link" href="../pages/cards.html">CARDS</a>
              <a class="nav-link" href="">US</a>


            </div>
          </div>
        </nav>
        <div class="d-flex justify-content-center align-items-center">
          
          <button  type="button" class="btn btn-success btn-md" @click="logOut">Log out</button>
        </div>
      </header>
      <main class="d-flex flex-column justify-content-center flex-grow-1" >
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
          <div class="carousel-inner carrousel">
            <div class="carousel-item active">
              <img
                src="../images/pexels-pixabay-164501.jpg"
                class="d-block w-100 imgcarrousel"
                alt="crediCard"
              >
            </div>
            <div class="carousel-item">
              <img
                src="../images/pexels-oleksandr-p-7599735.jpg"
                class="d-block w-100 imgcarrousel"
                alt="keyHouse">
            </div>
            <div class="carousel-item">
              <img
                src="../images/pexels-tima-miroshnichenko-4963087.jpg"
                class="d-block w-100 imgcarrousel"
                alt="buyCard"
              >
            </div>
            <div class="carousel-item">
              <img
                src="../images/pexels-hiếu-hoàng-1130000.jpg"
                class="d-block w-100 imgcarrousel"
                alt="vacation"
              >
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="d-flex justify-content-start text-align-center p-4 mb-2">
          <h3 class="fw-normal text-success">
            Hello, {{dataClient.name +" " +dataClient.lastName}}!
          </h3>
        </div>
        <h4 class="text-center fst-italic text-success">Your Products</h4>
        <section class="d-flex col-md justify-content-center">
          <div
            v-for="account of dataClient.accounts"
            class="d-flex justify-content-center m-2 border border-3 "
          >
          <div class="card">
            <div class="card-details">
              <p class="text-title">Account Number: {{account.number}}</p>
              <p class="card-text">Amount:</p>
              <p class="card-text">${{account.balance.toLocaleString('en-US',{minimumFractionDigits: 2, maximumFractionDigits: 2 })}}</p>
              <p class="card-text">
               <small class="text-body-secondary">Creation Date: {{account.creationDate}}</small>

              </p>
            </div>
            <a :href="'./account.html?id='+account.id" class="card-button">More info</a>
          </div>
          </div>

        </section>
        <section class="d-flex col-md justify-content-center">
          <div
            v-for="loan of dataLoans"
            v-if="dataLoans&& dataLoans.length > 0"
            class="d-flex justify-content-center m-3 mb-5 border border-3"
          >
            <div class="card " style="max-width: 540px">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="../images/Bank loans.jpg"
                    class="img-fluid rounded-start imgcard "
                    alt="logoLoan"
                  >
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">
                      Loan Name: {{loan.name}}
                    </h5>
                    <p class="card-text">Amount:</p>
                    <p class="card-text">${{loan.amount.toLocaleString('en-US',{minimumFractionDigits: 2, maximumFractionDigits: 2 })}}</p>
                    <p class="card-text"> 
                      <small class="text-body-secondary"
                        >Payments: {{loan.payments}}</small>
                    </p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div v-else class="card m-2" style="width: 36rem">
            <h5 class="card-title text-center fw-light">Does not have loans</h5>
          </div>
        </section>        
      </main>

      <footer class="d-flex flex-column p-4">
        <div class="d-flex justify-content-around">
          <div class="d-flex flex-column w-50 mx-2">
            <h5 class="fst-italic text-primary">OUR BANK</h5>
            <p class="fst-italic fs-5 text-primary">About us</p>
            <p class="fst-italic fs-5 text-primary">directory</p>
            <p class="fst-italic fs-5 text-primary">Administration</p>
            <p class="fst-italic fs-5 text-primary">
              Institutional Information
            </p>
            <p class="fst-italic fs-5 text-primary">Legal documents</p>
            <p class="fst-italic fs-5 text-primary">Rate and Fees</p>
            <p class="fst-italic fs-5 text-primary">Mortage Insurance Tender</p>
            <p class="fst-italic fs-5 text-primary">Portability</p>
            <p class="fst-italic fs-5 text-primary">Work with us</p>
            <p class="fst-italic fs-5 text-primary">Sustainability</p>
          </div>
          <div class="d-flex flex-column w-50 ms-2">
            <h5 class="fst-italic fs-5 text-primary">CUSTOMER SERVICE</h5>
            <p class="fst-italic fs-5 text-primary">Frequent questions</p>
            <p class="fst-italic fs-5 text-primary">Help and Contact</p>
            <p class="fst-italic fs-5 text-primary">Tutorials</p>
            <p class="fst-italic fs-5 text-primary">Offices and cashiers</p>
            <p class="fst-italic fs-5 text-primary">Business Portal</p>
            <p class="fst-italic fs-5 text-primary">Blog Millenials</p>
            <p class="fst-italic fs-5 text-primary">Customer ombudsman</p>
          </div>
          <div class="d-flex flex-column grid gap-0 row-gap-3">
            <a
              class="m-2"
              href="https://wa.me/+573024527869?text=Bienvenido!"
              target="_blank"
              ><img
                src="../images/wsde.png"
                class="imgfooter"
                alt="link whatsapp"
              >
            </a>
            <a
              class="m-2"
              href="https://www.facebook.com/groups/243471969040197"
              target="_blank"
              ><img
                src="../images/fbde.png"
                class="imgfooter"
                alt="link de facebook"
              >
            </a>
            <a class="m-2" href="https://www.twitter.com/" target="_blank"
              ><img
                src="../images/twdes.png"
                class="imgfooter"
                alt="link twitter"
              >
            </a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-center fw-lighter fs-6">
            Find out about the entities authorized to issue Payment Cards in the
            country, who are registered in the Registries of Card Issuers
            maintained by the CMF, at www.cmfchile.cl . Find out about the state
            guarantee of deposits at your bank or at cmfchile.cl. © 2020 Bank
            Brothers. All rights reserved. Moneda 970, 7th floor, Santiago.
          </p>
        </div>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../script/accounts.js"></script>
  </body>
</html>
