<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="icon" href="../images/4.png" type="image/x-icon" >
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    >
    <link rel="stylesheet" type="text/css" href="../css/styleLogin.css" >
</head>
<body>
    <div id="app" v-cloak >
      <main class=" mainLogin">
        <div class="main">  	
         <input type="checkbox" id="chk" aria-hidden="true">
    
          <div class="login" v-if="showLogin">
            <form class="form">
              <label for="chk" aria-hidden="true">Log in</label>
              <input class="input" type="email" name="email" placeholder="Email" required="" v-model = "email">
              <input class="input" type="password" name="password" placeholder="Password" required="" v-model="password">
              <button @click.prevent="login" type="button">Log in</button>
            </form>
          </div>
    
          <div class="register">
            <form class="form">
              <label for="chk" aria-hidden="true">Register</label>
              <input class="input" type="text" name="txt" placeholder="First name" required="" v-model="name">
              <input class="input" type="text" name="txt" placeholder="Last name" required="" v-model="lastName">
              <input class="input" type="email" name="email" placeholder="Email" required="" v-model="email">
              <input class="input" type="password" name="password" placeholder="Password" required="" v-model="password">
              <button @click.prevent="register" type="button">Register</button>
            </form>
          </div>
          </div>
      </main>         
       
       
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="../script/login.js"></script>
</body>
</html>