<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Your accounts</title>
    <link rel="icon" href="../images/4.png" type="image/x-icon" >
    <link rel="stylesheet" type="text/css" href="../css/styleTransfers.css" >
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    
  </head>
  <body>
    <div class="layout" id="app" v-cloak>
      <header class="d-flex justify-content-around align-items-center bg-body-tertiary">
        <img  src="../images/3.png" alt="LogoBank" class="d-inline-block  imgheader">
        <nav class="navbar navbar-expand-lg bg-body-tertiary d-flex justify-content-center text-align-center" >
          <button class="navbar-toggler" type="button"  data-bs-toggle="collapse"  data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"  aria-expanded="false"  aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav text-center">
              <a class="nav-link" href="../index.html"><i class="bi bi-bank2"></i> HOME</a>
              <a class="nav-link" href="./accounts.html"><i class="bi bi-wallet-fill"></i> ACCOUNTS</a>
              <a class="nav-link" href="./cards.html"><i class="bi bi-credit-card-2-back-fill"></i> CARDS</a>
              <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-credit-card-2-back-fill"></i> TRANSACTIONS</a>
              <a class="nav-link" href=""><i class="bi bi-info-square-fill"></i> US</a>            
             
            </div>
          </div>
        </nav>
        <div class="d-flex justify-content-center align-items-center">
          
          <button  type="button" class="btn btn-success btn-md" @click="logOut">Log out</button>
        </div>
      </header>
      <main class="d-flex flex-column justify-content-center align-items-center flex-grow-1" >
        
        <form class="form mb-5 mt-4">
            <p class="title">Do Transaction </p>
            <p class="message">Complete information </p>
                <div class="flex">
                <label> Destination Type </label>
                    
                <input type="radio" id="Owner" name="destinationType" value="Owner" v-model="destinationType">
                <label for="Owner">Owner</label>
                <input type="radio" id="Others" name="destinationType"  value="Others" v-model="destinationType">
                <label for="Others">Others</label>
                
    
            </div>       
            <label for="originAccount"  >Select your account origin:</label>
                <select id="originAccount" name="originAccount" v-model="originAccount">
                <option :value="account.number" v-for="account of clientAccounts"  >{{account.number}} ({{account.balance.toLocaleString('en-US',{minimumFractionDigits: 2, maximumFractionDigits: 2})}}) </option> 
                          
                </select>

                <label for="finalAccount"  >Select your account final :</label>
                <div v-if="destinationType == 'Owner'">            
                    <select id="finalAccount" name="finalAccount" v-model="finalAccount">
                    <option :value="account.number"  v-for="account of filteredAccounts">{{account.number}}</option>           
                    </select>
                </div>
                <div v-else>               
                    <input type="text" id="finalAccount" name="finalAccount" v-model="finalAccount" >
                </div> 
            <label> Amount</label>  
            <label>
                <input class="input" type="amount" placeholder="" required="" v-model="amount">
                <span><i class="bi bi-currency-dollar"></i> Amount</span>
            </label>
            <label>
                <input class="input" type="description" placeholder="" required="" v-model="description">
                <span>Description</span>
            </label>
            <button class="button" @click="newTransaction" >Submit</button>
            
        </form>  
        
                 
      </main>

      <footer class="d-flex flex-column p-4">
        <div class="d-flex justify-content-around">
          <div class="d-flex flex-column w-50 mx-2">
            <h5 class="fst-italic text-primary">OUR BANK</h5>
            <p class="fst-italic fs-5 text-primary">About us</p>
            <p class="fst-italic fs-5 text-primary">directory</p>
            <p class="fst-italic fs-5 text-primary">Administration</p>
            <p class="fst-italic fs-5 text-primary">
              Institutional Information
            </p>
            <p class="fst-italic fs-5 text-primary">Legal documents</p>
            <p class="fst-italic fs-5 text-primary">Rate and Fees</p>
            <p class="fst-italic fs-5 text-primary">Mortage Insurance Tender</p>
            <p class="fst-italic fs-5 text-primary">Portability</p>
            <p class="fst-italic fs-5 text-primary">Work with us</p>
            <p class="fst-italic fs-5 text-primary">Sustainability</p>
          </div>
          <div class="d-flex flex-column w-50 ms-2">
            <h5 class="fst-italic fs-5 text-primary">CUSTOMER SERVICE</h5>
            <p class="fst-italic fs-5 text-primary">Frequent questions</p>
            <p class="fst-italic fs-5 text-primary">Help and Contact</p>
            <p class="fst-italic fs-5 text-primary">Tutorials</p>
            <p class="fst-italic fs-5 text-primary">Offices and cashiers</p>
            <p class="fst-italic fs-5 text-primary">Business Portal</p>
            <p class="fst-italic fs-5 text-primary">Blog Millenials</p>
            <p class="fst-italic fs-5 text-primary">Customer ombudsman</p>
          </div>
          <div class="d-flex flex-column grid gap-0 row-gap-3">
            <a
              class="m-2"
              href="https://wa.me/+573024527869?text=Bienvenido!"
              target="_blank"
              ><img
                src="../images/wsde.png"
                class="imgfooter"
                alt="link whatsapp"
              >
            </a>
            <a
              class="m-2"
              href="https://www.facebook.com/groups/243471969040197"
              target="_blank"
              ><img
                src="../images/fbde.png"
                class="imgfooter"
                alt="link de facebook"
              >
            </a>
            <a class="m-2" href="https://www.twitter.com/" target="_blank"
              ><img
                src="../images/twdes.png"
                class="imgfooter"
                alt="link twitter"
              >
            </a>
          </div>
        </div>
        <div class="pt-3">
          <p class="text-center fw-lighter fs-6">
            Find out about the entities authorized to issue Payment Cards in the
            country, who are registered in the Registries of Card Issuers
            maintained by the CMF, at www.cmfchile.cl . Find out about the state
            guarantee of deposits at your bank or at cmfchile.cl. © 2020 Bank
            Brothers. All rights reserved. Moneda 970, 7th floor, Santiago.
          </p>
        </div>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../script/transfers.js"></script>
  </body>
</html>
